*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "微软雅黑";
    font-size: 16px;
}

.main{
    width: 1200px;
    height: 520px;
    margin: 20px auto;
    border: 1px solid #999;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    cursor: pointer;
}

/*导航部分*/
.nav{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.nav-item{
    width: 25%;
    height: 60px;
    border-radius: 10px;
    float: left;
}
.nav-item a{
    /*font-weight: 700;*/
    color: #666;
}
.nav-item:hover{
    background: #ffcc00;
}

/*.active{
    background: #ffcc00;
    font-weight: bold;
    color: red;
}
.nav .active{
    background: #ffcc00;
    font-weight: bold;
}*/


/*banner图片部分*/
.banner{
    width:1200px;
    height: 460px;
    overflow: hidden;
}
}
.banner .active{
    display: block;
}
.banner-item{
    display: none;
    width: 1200px;
    height: 460px;
}

.banner-img1{
    display: block;
    background: url(../img/1.jpg);
}
.banner-img2{
    background: url(../img/3.jpg);
}
.banner-img3{
    background: url(../img/4.jpg);
}
.banner-img4{
     background: url(../img/5.jpg);
 }
